<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="box">
        <input type="text" v-model="mytext">
        <ul>
            <li v-for="(data, index) in getData" :key="index">{{data}}</li>
        </ul>
    </div>
</body>
<script src="js/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#box',
        data:{
            mytext:'',
            datalist:["aaa","bbb","ccc","ddd","aee","cdd","eee"],

        },
        computed: {
            getData(){
                return this.datalist.filter(item=>item.indexOf(this.mytext)>-1)
            }
        },
    })
</script>
</html>