

   h1 {
        
        text-align:center;
        color: #669966;
    	}

 .div5{     
 	        
            width: 600px;
            height: 800px;
            border: 4px solid #669966;
            background-color: rgba(66,99,66,0.2);
            text-align:left;
            margin: auto;
            font-color:#669966;
        }


   ul{
            list-style-type: none;
            font-weight:  bold; 
            padding-left: 0cm;
        }
   ol{      
   			font-weight: 500;
   			
									
   		}
   textarea{
   			background-color: rgba(66,99,66,0.2);
   		}
   input{
   			background-color: #669966;
   			text-align:right;
   		}