    
    .div1 h1 {
        
        text-align:center;
        color: #669966;
    }

    .div1 {
        text-align:center;
    }
    .div1 a{
        font-size: 15px;
    }
    .div1 a:link{color: green;}

    .div1 a:visited{
        color: #669966;
            }

    .div1 a:hover{
        color: #006600;
        font-size: 20px;
            }

     .div2{
            width: 600px;
            height: 400px;
            border: 4px solid #669966;
            background-color: rgba(66,99,66,0.2);
            
            margin: auto;
        }
    .div3 input {
            width: 200px;
            height: 32px;
            border: 1px solid #669966 ;
            border-radius: 5px;
            padding-left: 10px;

    }
    .div3  label[for^=p]:after ,label[for^=t]:after {
            content:"*";
            color: red;
           
                }    


        ul{
            list-style-type: none;
            font-weight:  bold; 
            padding-left: 0cm;
        }

    .div4 a {
        
        font-size: 20px;
        color: #669966;
    }
     
    .div4 a:hover{
        color: #006600;
        font-size: 25px;
            }
